<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="brand">
          <%= link_to image_tag("modular_village_logo.png"), root_path %>
          </div>
        <div class="nav-collapse">
          <ul class="nav custom_link">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact Us", contact_path %></li>
            <li><%= link_to "Projects", projects_path %></li>
          </ul>
          <ul class="nav pull-right">
           <% if user_signed_in? %>
           <li><%= link_to "Logged in as "+current_user.username, edit_user_registration_path %></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>